{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

{{ parent() }} {#fait référence au header base#}
    <!-- Catégories - consoles - jeux -->

   <ul class="nav justify-content-start">
        <li class="nav-item">
            <a class="nav-link active text-dark font-weight-bold" href="#">All categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="#">Consoles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="#">Jeux</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link disabled text-dark font-weight-bold" href="#" tabindex="-1"
                aria-disabled="true">Disabled</a>
        </li>
     -->
    </ul>
    <br>

<section class="col-12">
    <div class="row row-cols-3">
    {% for article in articles %} 
        <div class="col mb-4 vw-75 p-3"> 
            <div class="card ">
                <img src="{{ asset ('img/' ~ article.imagearticle )}}" alt="{{article.nomarticle}}" class="card-img-top  ">
      
            <div class="card-body row d-flex justify-content-around">
                <small class=" text-dark">
                <h3>{{  article.nomarticle }} </h3>
                </small>
                <small class="font-weight-bold text-success">
                <h3>{{  article.prixarticle }} €</h3>
                </small>
                <button type="button" class="float-right btn btn-success">+</button> 
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

<br>


</body>
{% endblock %}
