{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

{{ parent() }}

    <!-- Catégories - consoles - jeux -->
   <ul class="nav justify-content-start">
        <li class="nav-item">
            <a class="nav-link active text-dark font-weight-bold" href="{{ path('articles') }}">All categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="{{ path('articles_categorie', {categorie:"consoles"}) }}">Consoles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold" href="{{ path('articles_categorie', {categorie:"jeux"}) }}">Jeux</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link disabled text-dark font-weight-bold" href="#" tabindex="-1"
                aria-disabled="true">Disabled</a>
        </li>
     -->
    </ul>
    <br>

<!-- Cards dans boucle FOR mb-6-sm-2-->
<div class="container">
    <div class="row justify-content-center">
        {% for article in articles %}
        <div class="card col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card-body text-center">
                <img src="{{ asset('img/'~ article.imagearticle)}}" class="imgTaille" alt="{{article.nomarticle}}">
                <div class="card-title">
                    <span><i class="font-weight-bold">{{article.nomarticle}}</i></span>
                    <span class="text-success font-weight-bold"><b>{{article.prixarticle}}€</b></span>
                </div>
                <div class="card-text text-justify">
                    <i>{{article.descriptionarticle}}</i>
                </div>
            </div>
            <div class="text-right mb-3">
                <form method="post" action="{{ path('articles_add', {id:article.idarticle}) }}">
                <input name="price" value = "{{article.prixarticle}}" type="hidden">
                <button type="submit" name="article" value="{{article.idarticle}}" class="float-right btn btn-success font-weight-bold">+</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}