{% extends 'base.html.twig' %}

{% block title %}Hello CreerArticleController!{% endblock %}

{% block body %}

{{ parent() }}

    {{ form_start(form, {'attr': {'class': 'd-flex justify-content-center'}}) }}
            {{ form_errors(form) }}
<div class = "w-25 p-3">
    <h1 class="h3 mb-3 font-weight-normal text-center">Créez un nouvel article</h1>
            {{ form_row(form.nomarticle) }}
            {{ form_row(form.imagearticle, {'custom-file-input' : 'Ajouter'}) }}
            {{ form_label(form.imagearticle, 'My Custom Task Label') }}
           


               
           
            {{ form_row(form.prixarticle) }}
            {{ form_row(form.descriptionarticle) }}
            {{ form_row(form.idcategorie) }}
            <div class=" text-center">
                {{ form_row(form.Enregistrer) }}
            </div>
</div>
{{ form_end(form) }}
{% endblock %}

